body {
    background-color: #beb9ad;
    
}
.change {
    background-color: transparent;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    border-top: 1px solid;
    color: black;
}

.contentbar {
    background-color: #003171;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 0 10px 10px;
    width: auto;
    height: auto;
    color: #67727A;
}