
@{
    ViewBag.Title = "SchedulerMenuPage";
}

<h2>SchedulerMenuPage</h2>

<a href="~/tblSchedule_HMS03_Team7/Create">Add Schedules</a><br />
<a href="~/tblSchedule_HMS03_Team7/Index">View  or Edit Schedules</a><br />
<a href="~/tblSchedule_HMS03_Team7/cancel">Cancel Schedules</a>

