@{
    ViewBag.Title = "About";
}
<link href="~/Content/SearchStyle.css" rel="stylesheet" />
<h3>About SandMaX</h3>

<p>SandMaX is the largest online flights booking engine in India and also one of the leading air aggregator.
    SandMaX is also the number one ranked web app under the travel category. 
    Sandmax's core value differentiator is delivery of the fastest and the most trusted user experiences,
    be it in terms of quickest search and booking,settlement  processes.
    SandMaX has grown its flights booking volumes by 5x in 2018 over the previous year. 
    70% of flight bookings take place on SandMaX's web application.</p>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />