@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<link href="~/Content/SearchStyle.css" rel="stylesheet" />
<address>
    Q city,Nanakramguda<br />
    Hyderabad,pin-500098<br />
    <abbr title="Phone">P:</abbr>
   8977456780
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:peednasrayudu@gmail.com">peednasrayudu@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:bhaskaran.maghesh@gmail.com">bhaskaran.maghesh@gmail.com</a>
</address>