
@{
    ViewBag.Title = "progress";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}
<br />
<h2>Loading....</h2>
<br /><br /><br /><br /><br /><br /><br /><br /><br />
<link href="~/Content/SearchStyle.css" rel="stylesheet" />

<div class="progress progress-striped progress-bar-info active animate">
    <div class="progress-bar" role="progressbar" style="width:100%">100%</div>
</div><br /><br />
<center>
    <a href="@Url.Action("Create","tblSearch_HMS03_Team7")" class="btn btn-primary">Continue</a>
</center>
<br /><br /><br /><br /><br /><br /><br /><br />